html{
	background-color:#A98175;
}
#sidebar{
	position:fixed;
	top:0;
	left:55%;
}
#info{
	position:fixed;
	left:60%;
	top:90%;
	color:white;
	font-size:0.8rem;
}
#info a{
	text-decoration:none;
	color:white;
}
